//colors
$main_color:#60a3d9;
$blue_color:rgb(0, 82, 190);
$secondary_color:#051d49;
$red_color:#ff004f;

//spacing
$main_padding:4px 8px;
$sec_padding: 12px 10px;
$lg_padding: 16px 20px;
$main_margin:4px 6px;


// media queries
$max_mobile:"(max-width:767px)";
$min_mobile:"(min-width:768px)";
$max_small:"(max-width:991px)";
$min_medium:"(min-width:992px)";
$max_medium:"(max-width:1399px)";
$min_large:"(min-width:1300px)";